<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/headerfiles :: headerfiles(pageTitle='Closed Tasks ')"></div>
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
		<div th:replace="fragments/_sidebar :: _sidebar"></div>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">

              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Closed Task - (<span th:text="${totalItems}"></span>)</h4>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th> # </th>
                          <th> Summary </th>
                          <th> Task Date </th>
                          <th> Closed Date </th>
                          <th> Priority </th>
                          <th> Action </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="task : ${allClosedTaskList}">
                          <td th:text="${task.id}"> 1 </td>
                          <td th:text="${task.taskSummary}" class="text-wrap">  </td>
                          <td th:text="${#dates.format(task.taskDate, 'dd-MMM-yyyy')}"></td>
                          <td th:text="${#dates.format(task.modifiedDate, 'dd-MMM-yyyy')}"></td>
                          <td th:switch="${task.taskPriority}"> 
                          	<span th:case="'1'" class="text-danger" >
   								<span th:text="High"></span>
							</span>
							<span th:case="'2'" class="text-success" >
   								<span th:text="Medium"></span>
							</span>
							<span th:case="'3'" >
   								<span th:text="Low"></span>
							</span>
                          </td>
                          <td> <a class="btn btn-primary" th:href="@{'/task-edit/'+ ${task.id}}" role="button">Edit</a> </td>
                        </tr>
                      </tbody>
                    </table>
                                        <div style="margin-top: 2px;">Total Record : <span th:text="${totalItems}"></span>
                    <nav aria-label="Pagination" th:if="${totalPages > 0}">
  <ul class="pagination justify-content-center">
    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
      <a th:replace="fragments/closedtaskpaiging :: closedtaskpaiging(1, '<<', 'First Page')"></a>
    </li>
    <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
      <a th:replace="fragments/closedtaskpaiging :: closedtaskpaiging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
    </li>
    <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
      <a class="page-link" href="#">...</a>
    </li>
    <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
      th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
      <a th:replace="fragments/closedtaskpaiging :: closedtaskpaiging(${page}, ${page}, 'Page ' + ${page})"></a>
    </li>
    <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
      <a class="page-link" href="#">...</a>
    </li>
    <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
      <a th:replace="fragments/closedtaskpaiging :: closedtaskpaiging(${currentPage + 1},'Next', 'Next Page')"></a>
    </li>
    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
      <a th:replace="fragments/closedtaskpaiging :: closedtaskpaiging(${totalPages}, '>>', 'Last Page')"></a>
    </li>
  </ul>
</nav>
</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div th:replace="fragments/footer :: footer"></div>
        </div>
      </div>
    </div>
  </body>
</html>