<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:replace="fragments/headerfiles :: headerfiles(pageTitle='All Ticket')"></div>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

  </head>
  <body>
	  
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper">
		<div th:replace="fragments/_sidebar :: _sidebar"></div>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
			                <div>
					<form  th:action="@{/tickets}">
						<div class="row">
                        <div class="col-md-2">
                          <div class="form-group row">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" th:name="ticketNumber" th:value="${ticketNumber}" placeholder="Ticket Number"/>
                              <input type="hidden" class="form-control" th:name="keyword" th:value="${keyword}" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group row">
                            <div class="col-sm-12">
                              <select class="form-control" th:name="ticketType"  id="ticketTypeDDL">
								  <option value="All">--Ticket Type--</option>
                                <option th:each="p : ${ticketTypeList}" th:value="${p}" th:text="${p}" th:selected="${p==ticketType}"/>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group row">
                            <div class="col-sm-9">
                             <select class="form-control" th:name="applicaiton"  id="applicaitonDDL">
								 <option value="All">--Application--</option>
                                <option th:each="p : ${applicaitonList}" th:value="${p}" th:text="${p}" th:selected="${p==applicaiton}"/>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group row">
                            <div class="col-sm-12">
                              <div class="col-sm-12">
                              <select class="form-control" th:name="ticketStatus"  id="ticketStatusDDL">
								  <option value="All">--Ticket Status--</option>
                                <option th:each="p : ${ticketStatusList}" th:value="${p}" th:text="${p}" th:selected="${p==ticketStatus}"/>
                              </select>
                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group row">
                            <div class="col-sm-10">
                              <select class="form-control" th:name="ticketPriority" id="ticketPriorityDDL">
								  <option value="All">--Priority--</option>
                                <option th:each="p : ${ticketPrirityList}" th:value="${p}" th:text="${p}"   th:selected="${p==ticketPriority}"/>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group row">
                            <div class="col-sm-6">
                            <input type="text" class="form-control" th:name="ticketCreatedFromDate"  id="ticketCreatedFromDate" th:value="${ticketCreatedFromDate}"  readonly="readonly"  placeholder="Created From" />
                            </div>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" th:name="ticketCreatedToDate"  id="ticketCreatedToDate"  th:value="${ticketCreatedToDate}" readonly="readonly" placeholder="Created To" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group row">
                            <div class="col-sm-9">
                              <select class="form-control" th:name="ticketEnvironment" id="ticketEnvironmentDDL">
								  <option value="All">--Environment--</option>
                                <option th:each="p : ${ticketEnvironmentList}" th:value="${p}" th:text="${p}"   th:selected="${p==ticketEnvironment}"/>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group row">
                            <div class="col-sm-9">
                             <!-- <select class="form-control">
                                <option>Male</option>
                                <option>Female</option>
                              </select>-->
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group row">
                            <div class="col-sm-12">
                              <div style="float: right;">
						  		<button type="reset" class="btn btn-light">Reset</button>
						  		<button type="submit" class="btn btn-success mr-2" >Search</button>						  
					  		</div>
                            </div>
                          </div>
                        </div>
                      </div>
					</form>
					</div>
			<div class="col-lg-12 grid-margin stretch-card">
                <div class="card">

                  <!--<div class="card-body">--><div>
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr >
                          <th> # </th>
                          <th> Ticket</th>
                          <th> Ticket Type </th>
                          <th> Status </th>
                          <th> P* </th>
                          <th> Application </th>
                          <th> ENV </th>
                          <th> Created On </th>
                          <th> <a class="btn btn-primary" href="/tickets/ticket-form" role="button">Add</a>
                          <a class="btn btn-primary" href="/open-tickets" role="button">OT</a>
                          <!--<span class="label pull-right">
                    	<a href="#modal" data-toggle="modal" class="btn btn-xs btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
                    </span>-->
                                 </th>
                        </tr>
                      </thead>
                      <tbody>
						  <th:block th:each="ticket : ${allTicketList}" >
                        <tr th:class="'table-ticket-'+${ticket.ticketStatus}">
                          <td th:text="${ticket.id}"></td>
                          <td th:text="${ticket.ticketNumber}"></td>
                          <td th:text="${ticket.ticketType}"></td>
                          <td th:text="${ticket.ticketStatus}"></td>
                          <td th:text="${ticket.ticketPriority}"></td>
                          <td th:text="${ticket.applicaiton}"></td>
                          <td th:text="${ticket.ticketEnvironment}"></td>
                          <td th:text="${ticket.ticketCreatedDate}">  </td>
                          <td >
						<a class="btn btn-primary" th:href="@{'tickets/ticket-form/'+ ${ticket.id}}" role="button">Edit</a>
                          <a class="btn btn-primary" th:href="@{'tickets/ticket-audit-form/'+ ${ticket.id}}" role="button">Log</a>
                          </td>
                        </tr>
                        <tr>
							<td th:text="${ticket.ticketSummary}" colspan="8"></td>
							<td th:text="${ticket.ticketWorker}"></td>
						</tr>
                        </th:block>
                        
                       
                    
                        
                      </tbody>
                    </table>
                    <div style="margin-top: 2px;">Total Record : <span th:text="${totalItems}"></span>
                    <nav aria-label="Pagination" th:if="${totalPages > 0}">
  <ul class="pagination justify-content-center">
    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
      <a th:replace="fragments/paging :: paging(1, '<<', 'First Page')"></a>
    </li>
    <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
      <a th:replace="fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
    </li>
    <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
      <a class="page-link" href="#">...</a>
    </li>
    <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
      th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
      <a th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
    </li>
    <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
      <a class="page-link" href="#">...</a>
    </li>
    <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
      <a th:replace="fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
    </li>
    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
      <a th:replace="fragments/paging :: paging(${totalPages}, '>>', 'Last Page')"></a>
    </li>
  </ul>
</nav>
</div>
                  </div>
                </div>
              </div> 
              


              
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <div th:replace="fragments/footer :: footer"></div>
        </div>
      </div>
    </div>
  </body>
    <script type="text/javascript">
    $( function() {
		var currentDate = new Date();
		
         $( "#ticketCreatedFromDate" ).datepicker({
    		dateFormat: "yy-mm-dd"
		});
        $( "#ticketCreatedToDate" ).datepicker({
    		//changeMonth: true,
    		//changeYear: true,
    		dateFormat: "yy-mm-dd"
		});

        
      } );
      
        </script>
</html>