<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:replace="fragments/headerfiles :: headerfiles(pageTitle='Add New Ticket')"></div>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper">
		<div th:replace="fragments/_sidebar :: _sidebar"></div>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">

			<form action="#" id="ticket-form" th:action="@{/tickets/saveticket}" method="post" th:object="${ticktObject}">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Tickting</h4>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Ticket Number</label>
                            <div class="col-sm-8">
                              <input type="text" th:field="*{ticketNumber}" id="ticketNumber" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Ticket Priority</label>
                            <div class="col-sm-8">
                              <select class="form-control" th:field="*{ticketPriority}" id="ticketPriorityDDL">
								  <option value="-1">--Select--</option>
                                <option th:each="p : ${ticketPrirityList}" th:value="${p}" th:text="${p}" />
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Ticket Status</label>
                            <div class="col-sm-8">
                              <select class="form-control" th:field="*{ticketStatus}" id="ticketStatusDDL">
                                <option th:each="p : ${ticketStatusList}" th:value="${p}" th:text="${p}" />
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Ticket Type</label>
                            <div class="col-sm-8">
                             <select class="form-control" th:field="*{ticketType}" id="ticketTypeDDL">
                                <option th:each="p : ${ticketTypeList}" th:value="${p}" th:text="${p}" />
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                      		<label class="col-sm-3 col-form-label">Ticket Summary</label>
                      		<div class="col-sm-9">
                      			<input type="text" class="form-control form-control-lg" th:field="*{ticketSummary}">
                      		</div>
                    	</div>
                       </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                      		<label class="col-sm-3 col-form-label">Ticket Description</label>
                      		<div class="col-sm-9">
                      			<textarea class="form-control" th:field="*{ticketDescription}" id="ticketDescription" rows="2"></textarea>
                      		</div>
                    	</div>
                       </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Application</label>
                            <div class="col-sm-9">
                             <select class="form-control" th:field="*{applicaiton}" id="applicaitonDDL">
                                <option th:each="p : ${applicaitonList}" th:value="${p}" th:text="${p}" />
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">App Category</label>
                            <div class="col-sm-9">
                             <select class="form-control" th:field="*{applicationCategory}" id="applicationCategoryDDL">
                                <option th:each="p : ${applicaitonCategoryList}" th:value="${p}" th:text="${p}" />
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Defect Area</label>
                            <div class="col-sm-8">
                              <select class="form-control" th:field="*{defectArea}" id="defectAreaDDL">
                                <option th:each="p : ${defectAreaList}" th:value="${p}" th:text="${p}" />
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Environment</label>
                            <div class="col-sm-7">
                              <select class="form-control" th:field="*{ticketEnvironment}" id="ticketEnvironmentDDL">
                                <option th:each="p : ${envrionementList}" th:value="${p}" th:text="${p}" />
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Linked </label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" th:field="*{linkedTicket}" id="linkedTicket"/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Created Date</label>
                            <div class="col-sm-9">
                              <input class="form-control" id="ticketCreatedDate" readonly="readonly" th:field="*{ticketCreatedDate}" placeholder="yyyy-mm-dd" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Closed Date</label>
                            <div class="col-sm-9">
                              <input class="form-control" id="ticketClosedDate" readonly="readonly" th:field="*{ticketClosedDate}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                      		<label class="col-sm-3 col-form-label">Workers</label>
                      		<div class="col-sm-9">
                      			<!--<input type="text" class="form-control form-control-lg" th:field="*{ticketWorker}" id="ticketWorker">-->
                      			<select class="form-control" th:field="*{ticketWorker}" id="ticketWorker" multiple>
                                <option th:each="p : ${ticketWorkersList}" th:value="${p}" th:text="${p}" />
                              </select>
                      		</div>
                    	</div>
                       </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                      		<label class="col-sm-3 col-form-label">Closing Note</label>
                      		<div class="col-sm-9">
                      			<textarea class="form-control" th:field="*{ticketClosingNote}" id="ticketClosingNote" rows="5" ></textarea>
                      		</div>
                    	</div>
                       </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                      		<label class="col-sm-3 col-form-label">Comments</label>
                      		<div class="col-sm-9">
                      			<textarea class="form-control" th:field="*{comment}" id="comment" rows="5"></textarea>
                      		</div>
                    	</div>
                       </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                      		<label class="col-sm-3 col-form-label">TAG</label>
                      		<div class="col-sm-9">
                      			<textarea class="form-control" th:field="*{ticketTag}" id="ticketTag" rows="1"></textarea>
                      		</div>
                    	</div>
                       </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-4 col-form-label">SLAs</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" th:field="*{ticketSlaKpi}" id="ticketSlaKpi"/>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                         <div class="form-group">
                        	<label for="ticketSlaKpiNote">SLA Note</label>
                        	<textarea class="form-control" th:field="*{ticketSlaKpiNote}" id="ticketSlaKpiNote" rows="2"></textarea>
                      		</div>
                        </div>
                      </div>
                      <div style="float: right;">
						  <button type="reset" class="btn btn-light">Cancel</button>
						  <button type="submit" class="btn btn-success mr-2" style="width: 200px;">Submit</button>						  
					  </div>
                  </div>
                </div>
              </div>
              </form>      
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <div th:replace="fragments/footer :: footer"></div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    $( function() {
		var currentDate = new Date();
		
        $( "#ticketCreatedDate" ).datepicker();
        $( "#ticketCreatedDate" ).datepicker( "option", "dateFormat", "yy-mm-dd");
        
        //$( "#ticketClosedDate" ).datepicker();
        //$( "#ticketClosedDate" ).datepicker( "option", "dateFormat", "yy-mm-dd");
        
        
        var ticketStatus = $('#ticketStatusDDL').val();
        if(ticketStatus=='Closed'){
			$("#ticketClosedDate").css("display", "block"); 
		}else{
			$("#ticketClosedDate").css("display", "none"); 
		}
        
        $('#ticketStatusDDL').click(function(){ 
			var value = this.value;
    		if(value=='Closed'){
				$("#ticketClosedDate").css("display", "block"); 
			}else{
				$("#ticketClosedDate").css("display", "none"); 
			}
  		});
        
        $( "#ticketClosedDate" ).datepicker({
    		//changeMonth: true,
    		//changeYear: true,
    		dateFormat: "yy-mm-dd"
		});
        
        
      } );
      
      $( document ).ready(function() {
		  /*
    $("#ticket-form").submit(function(){
		var created_date = $("ticketCreatedDate").value();
		if(created_date==null){
			alert("Please select crated date");
			return false
		}
		
	})
	*/
});
        </script>
</html>