        <nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="_sidebar">
          <ul class="nav">
            
            <li class="nav-item nav-category">Task Diary</li>
            <li class="nav-item">
              <a class="nav-link" href="/current-task">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Current Task</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/forms">
                <i class="menu-icon typcn typcn-shopping-bag"></i>
                <span class="menu-title">Form elements</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tables">
                <i class="menu-icon typcn typcn-bell"></i>
                <span class="menu-title">Tables</span>
              </a>
            </li>
          </ul>
        </nav>