<footer class="footer" th:fragment="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2024</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">WD</span>
            </div>
            <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
			<script th:src="@{/webjars/jquery-ui/1.14.1/jquery-ui.min.js}"></script>
    		<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
          </footer>