<th:block th:fragment="headerfiles(pageTitle)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${pageTitle}">Template title</title>
    <!-- <link rel="stylesheet" href="css/shared/style.css">
    <link rel="stylesheet" href="css/demo_1/style.css"> -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css} "/>
    <link th:href="@{/css/shared/style.css}" rel="stylesheet" />
    <link th:href="@{/css/demo_1/style.css}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
</th:block>