<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/headerfiles :: headerfiles(pageTitle='Task Manager')"></div>
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
		<div th:replace="fragments/_sidebar :: _sidebar"></div>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">

              <div class="col-lg-12 stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Current Task</h4>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th> # </th>
                          <th> Summary </th>
                          <th> Status </th>
                          <th> Priority </th>
                          <th> <a class="btn btn-primary" href="/task-form" role="button">Add</a> </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table-info" th:each="task : ${currentActiveTask}">
                          <td th:text="${task.id}"> 1 </td>
                          <td th:text="${task.taskSummary}"> Herman Beck </td>
                          <td th:text="${task.taskStatus}"> Photoshop </td>
                          <td th:text="${task.taskPriority}"> $ 77.99 </td>
                          <td> <a class="btn btn-primary" th:href="@{'task-edit/'+ ${task.id}}" role="button">Edit</a> </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Pending Task</h4>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th> # </th>
                          <th> Summary </th>
                          <th> Status </th>
                          <th> Priority </th>
                          <th> Action </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="task : ${backlogActiveTask}">
                          <td th:text="${task.id}"> 1 </td>
                          <td th:text="${task.taskSummary}"> Herman Beck </td>
                          <td th:text="${task.taskStatus}"> Photoshop </td>
                          <td th:text="${task.taskPriority}"> $ 77.99 </td>
                          <td> <a class="btn btn-primary" th:href="@{'task-edit/'+ ${task.id}}" role="button">Edit</a> </td>
                        </tr>
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div th:replace="fragments/footer :: footer"></div>
        </div>
      </div>
    </div>
  </body>
</html>