<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
   <div th:replace="fragments/headerfiles :: headerfiles(pageTitle='Project & Team')"></div>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
		<div th:replace="fragments/_sidebar :: _sidebar"></div>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <!-- Page Title Header Starts-->

            <!-- Page Title Header Ends-->
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-3 col-md-6">
                        <div class="d-flex">
                          <div class="wrapper">
                            <h3 class="mb-0 font-weight-semibold">CR</h3>
                            <h5 class="mb-0 font-weight-medium text-primary">Target - </h5>
                            <p class="mb-0 text-muted">Achive - </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                          <div class="wrapper">
                            <h3 class="mb-0 font-weight-semibold">Tool</h3>
                            <h5 class="mb-0 font-weight-medium text-primary">Target - </h5>
                            <p class="mb-0 text-muted">Achive - </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                          <div class="wrapper">
                            <h3 class="mb-0 font-weight-semibold">KA</h3>
                            <h5 class="mb-0 font-weight-medium text-primary">Target - </h5>
                            <p class="mb-0 text-muted">Achive - </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                          <div class="wrapper">
                            <h3 class="mb-0 font-weight-semibold">RCA</h3>
                            <h5 class="mb-0 font-weight-medium text-primary">Target - </h5>
                            <p class="mb-0 text-muted">Achived - </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
			<div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title mb-0">Today in Leave</h4>
                    <div >
                          <div class="table-responsive">
                          <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th>Member</th>
                                <th>Type</th>
                                <th>Date</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr th:each="leave : ${currentDateLeave}">
								<td th:text="${leave.teamMember.fullName}"></td>
                                <td th:text="${leave.leaveType}"></td>
                                <td th:text="${#dates.format(leave.leaveDate, 'dd-MMM-yyyy')}"></td>
                              </tr>                             
                            </tbody>
                          </table>
                        </div>
                    </div>
                   
                  </div>
                </div>
				</div>
				<div class="col-md-6">
					<div class="col-md-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								 <h4 class="card-title mb-0">Upcomming Leave</h4>
                    <div >
                          <div class="table-responsive">
                          <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th>Member</th>
                                <th>Type</th>
                                <th>Date</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr th:each="leave : ${upComingLeave}">
								<!--<td th:text="${leaveStat.index}"></td>  -->
								<td th:text="${leave.teamMember.fullName}"></td>
                                <td th:text="${leave.leaveType}"></td>
                                <td th:text="${#dates.format(leave.leaveDate, 'dd-MMM-yyyy')}"></td>
                              </tr>                             
                            </tbody>
                          </table>
                        </div>
                    </div>
							</div>	
						</div>
					</div>
				</div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="row">

                  
                  <div class="col-md-12 grid-margin">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <h4 class="card-title mb-0">Team</h4>
                          <a href="/all-active-team-member"><small>Show All</small></a>
                        </div>
                        <div class="table-responsive">
                          <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Phone No</th>
                                <th>Emp ID</th>
                                <th>Designation</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr th:each="member : ${allActiveTeamMemeber}">
                                <td th:text="${member.fullName}"></td>
                                <td th:text="${member.phoneNo}"></td>
                                <td th:text="${member.organizationEmpId}"></td>
                                <td th:text="${member.organizationDesignation}"></td>
                                <td >
									<a th:href="@{'member-leave-history/'+ ${member.teamMemberId}}" ><i class="fa fa-times-circle fa-lg"></i></a>&nbsp;
									<a th:href="@{'team-member-edit/'+ ${member.teamMemberId}}" ><i class="fa fa-edit fa-lg"></i></a>&nbsp;
                          <a th:href="@{'member-appraisal-detail/'+ ${member.teamMemberId}+'/'+${year}}" role="button"><i class="fa fa-info fa-lg"></i></a>
								</td>
                              </tr>                             
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                         
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 grid-margin stretch-card average-price-card">
                    <div class="card text-white">
                      <div class="card-body">
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12 grid-margin">
                    <div class="card">
                   <div class="card-body">
					   <div class="d-flex justify-content-between">
                    <h4 class="card-title">Submit Leave</h4>
                    <a href="/member-all-leave-history"><small>Show All Leave</small></a>
                    </div>
                    <form  th:action="@{/save-team-member-leave}" method="post" th:object="${teamMemberLeave}">
                      <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <select class="form-control form-control-lg" id="teamMemberDDL" th:field="*{teamMember}">
                        <option value="">-Select-</option>
                        <option th:each="p : ${teamMemberNameIDMap}" th:value="${p.key}" th:text="${p.value}" />
                      </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Leave Type</label>
                        <input type="text" class="form-control" id="leaveType" th:field="*{leaveType}" placeholder="Leave Type">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Date</label>
                        <input type="text" class="form-control" th:field="*{leaveDate}" id="leaveDate" placeholder="yyyy-mm-dd">
                      </div>                     
                     
                      <div class="form-group">
                        <label for="exampleTextarea1">Comment</label>
                        <textarea class="form-control" id="comment" th:field="*{comment}" rows="2"></textarea>
                      </div>
                      <button class="btn btn-light">Cancel</button>
                      <button type="submit" class="btn btn-success mr-2">Submit</button>
                      
                    </form>
                  </div>
                    </div>
                  </div>
                  <div class="col-md-12 grid-margin">
                    <div class="card">
                      <div class="card-body">
                        <div class="wrapper">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 grid-margin">
                    <div class="card">
                      <div class="card-body">
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">

                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">

                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <div th:replace="fragments/footer :: footer"></div>
          <script type="text/javascript">
     $( function() {
       
        //$( "#leaveDate" ).datepicker({ dateFormat: 'yy-mm-dd' });
         $( "#leaveDate" ).datepicker();
        $( "#leaveDate" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
      } ); 
        </script>
        </div>
      </div>
    </div>
  </body>
</html>