<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DB Tables</title>
    <link rel="stylesheet" href="css/shared/style.css">
    <link rel="stylesheet" href="css/demo_1/style.css">
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper">
		<div th:replace="fragments/_sidebar :: _sidebar"></div>
        <!-- partial -->
		<div class="main-panel">
		  <div class="content-wrapper">
		    <div class="row">
		      
		      <div class="col-lg-12 grid-margin stretch-card">
		        <div class="card">
		          <div class="card-body">
		            <h4 class="card-title">Workdiary table</h4>
		            <p class="card-description"> Download <code>Tables from here</code> </p>
		            <table class="table table-bordered">
		              <thead>
		                <tr>
		                  <th> #Srl </th>
		                  <th> Table Name </th>
		                  <th> Data Stat </th>
		                  <th> Row Count </th>
		                  <th> Action </th>
		                </tr>
		              </thead>
		              <tbody>
		                <tr th:each="applicaitontable,iterator : ${workaDiaryTableList}">
		                  <td th:text="${iterator.index+1}"></td>
		                  <td th:text="${applicaitontable.tableName}"> </td>
		                  <td>
		                    <div class="progress">
		                      <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		                    </div>
		                  </td>
		                  <td th:text="${applicaitontable.rowCount}"></td>
		                  <td> <a th:href="@{'download-table/'+ ${applicaitontable.tableName}}">Download</a> </td>
		                </tr>
		            
		              </tbody>
		            </table>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		  <div th:replace="fragments/footer :: footer"></div>
		</div>
      </div>
    </div>
  </body>
</html>