<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:replace="fragments/headerfiles :: headerfiles(pageTitle='Monthly Yearly Service Activities')"></div>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

  </head>
  <body>
	  
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper">
		<div th:replace="fragments/_sidebar :: _sidebar"></div>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
			<div class="row">
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between pb-3">
                      <h4 class="card-title mb-0">Service Activities</h4>
                    </div>
                    <ul class="timeline">
                      <li class="timeline-item" th:each="activityMonthYear : ${listServiceActivityYearMonth}">
                        <p class="timeline-content"><a th:href="'/service-activity/'+${activityMonthYear.serviceYearName}+'/'+${activityMonthYear.serviceMonthName}"  th:text="${activityMonthYear.serviceMonthName}">Ben Tossell</a> <span th:text="${activityMonthYear.serviceYearName}"></span></p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <div th:replace="fragments/footer :: footer"></div>
        </div>
      </div>
    </div>
  </body>
</html>