<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:replace="fragments/headerfiles :: headerfiles(pageTitle='Update Application')"></div>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tiny.cloud/1/xb35xk73hgyckinp46g6ivh20vtxgb0soa2tn1e22n7cc4iu/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper">
		<div th:replace="fragments/_sidebar :: _sidebar"></div>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">

			<form action="#" th:action="@{/application-update/{appid}(appid=${applicationid})}"  method="post" th:object="${application}">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Update Application info</h4>
                    <form class="form-sample">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Application Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="applicationName" th:field="*{applicationName}"/>
                            </div>
                          </div>
                        </div>                                          
                      </div>
                      
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Applicaiton Short Name</label>
                            <div class="col-sm-5">
                              <input class="form-control" id="applicaitonAbbreviation" th:field="*{applicaitonAbbreviation}" />
                              </select>
                            </div>
                          </div>
                        </div>                        
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Application Description</label>
                            <div class="col-sm-9">
                              <textarea class="form-control" th:field="*{applicationDescription}" id="applicationDescription" rows="2"></textarea>
                            </div>
                          </div>
                        </div>                                            
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Assigned Resources</label>
                            <div class="col-sm-9">
                              <textarea class="form-control" th:field="*{assignedResources}" id="assignedResources" rows="2"></textarea>
                            </div>
                          </div>
                        </div>                                            
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">businessStream</label>
                            <div class="col-sm-7">
                              <input class="form-control" id="businessStream" th:field="*{businessStream}" />
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">modules</label>
                            <div class="col-sm-7">
                              <input class="form-control" id="modules" th:field="*{modules}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">series</label>
                            <div class="col-sm-7">
                              <input class="form-control" id="series" th:field="*{series}" />
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">interfaces</label>
                            <div class="col-sm-7">
                              <input class="form-control" id="interfaces" th:field="*{interfaces}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-10">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">technology</label>
                            <div class="col-sm-9">
                              <textarea class="form-control" th:field="*{technology}" id="technology" rows="2"></textarea>
                            </div>
                          </div>
                        </div>                                            
                      </div>
                       <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">applicationStatus</label>
                            <div class="col-sm-7">
                              <input class="form-control" id="applicationStatus" th:field="*{applicationStatus}" />
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">runbook</label>
                            <div class="col-sm-7">
                              <input class="form-control" id="runbook" th:field="*{runbook}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-10">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">appStatus</label>
                            <div class="col-sm-9">
                              <textarea class="form-control" th:field="*{appStatus}" id="appStatus" rows="2"></textarea>
                            </div>
                          </div>
                        </div>                                            
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Status</label>
                            <div class="col-sm-7">
                             
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-5 col-form-label"></label>
                            <div class="col-sm-7">
                              
                            </div>
                          </div>
                        </div>
                      </div>
                      <div style="position:absolute;right: 100px;">
						  <button type="submit" class="btn btn-success mr-2">Submit</button>
                          <button type="reset" class="btn btn-light">Cancel</button>
                          <a class="btn btn-primary" href="/all-active-team-member" role="button">Back</a>
						  
					  </div>
					  <div>&nbsp;</div>                     
                     
                    </form>
                  </div>
                </div>
              </div>
              </form>      
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <div th:replace="fragments/footer :: footer"></div>
                  <script>
				    tinymce.init({
				      selector: '#assignedResources',
				      height: 200,
				      plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
				      //toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table',
				      toolbar: 'alignleft aligncenter alignright alignjustify | formatselect | bullist numlist | outdent indent | link code',
				      toolbar_mode: 'floating',
				      tinycomments_mode: 'embedded',
				      tinycomments_author: 'Anuwas B',
				   });
  			</script>
        </div>
      </div>
    </div>
  </body>
</html>